body{
	font-family: Anton, sans-serif;
}
nav{
	width: 100%;
	height: 100px;
	background: #CC0D0D;
}
.logo{
	color: yellow;
	font-size: 28px;
	padding-left: 215px;
	padding-top: 25px;
	float: left;
	font-size: 22px;
}
.menu{
	float: left;
	padding-left: 115px;
	padding-top: 25px;
}
.menu li{
	float: left;
	line-height: 30px;
	color: yellow;
	margin-right: 90px;
	font-size: 15px;
	text-transform: uppercase;
}
.main{
	width: 100%;
	height: 100%;
	background-image: url("../img/sky.jpg");
}

.title__container{
	float: left;
	margin: 250px 0px 0px 300px;
}
.title__container h1{
	font-size: 60px;
	font-weight: bold;
}
.title__container h2{
	font-size: 35px;
	margin-top: 15px;
}
.title__container input{
	height: 40px;
	text-align: center;
	border: 2px solid yellow;
	background: yellow;
	border-radius: 12px;
	font-size: 15px;
	padding: 0px 30px;
	margin: 30px 15px 0px 15px;
}